html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
}

.TbtnMargin {
    margin-top: 6px;
}

.TbMargin {
    padding-top: 20px;
}

.desc dt {
    padding: 3px 0 5px 0;
}