{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h1>Rio - {{ river.name }}</h1>
            <hr>

            <div class="desc">
                <dl>
                    <dt>NOME:</dt>
                    <dd>{{ river.name }}</dd>
                    <dt>ORDEM:</dt>
                    <dd>{{ river.order }}</dd>
                    <dt>COMPRIMENTO:</dt>
                    <dd>{{ river.length_km }} km</dd>
                </dl>

                <strong>FONTE: </strong><a href="#">Agência de Gestão das Águas</a>

            </div>

            <hr>

            {% include 'partials/links_details.html' with pk=river.pk list='rivers:list' edit='rivers:edit' delete='rivers:edit' %}

        </div><!-- col-md-12 -->
    </div><!-- row -->

{% endblock content %}
