{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h1>{{ title }}</h1>
            <hr>

            <form action="." method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Enviar
                    </button>
                {% endbuttons %}
            </form>

        </div><!-- col-md-12 -->
    </div><!-- row -->

{% endblock content %}
