{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h1>Bacias Hidrográficas</h1>

        <hr>

        <a class="btn btn-primary TbtnMargin" href="#" role="button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Adicionar"></span> Adicionar
        </a>

        <!-- search form -->
        <form class="navbar-form navbar-right" action="." method="get">

          <input id="search_box" name="search_box" type="text" placeholder="Pesquisar" class="form-control">
          <button type="submit" class="btn btn-primary form-control"><span class="glyphicon glyphicon-search"></span></button>
        </form>

      </div><!-- col-md-12 -->


      <div class="col-md-12 TbMargin">

        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Bacia Hidrográfica Adicionada com Sucesso.
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome da Bacia</th>
              <th>Área (km<sup>2</sup>)</th>
              <th>Perímetro (km)</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Abiaí</td>
              <td>23,550</td>
              <td>Piranhas</td>
              <td>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
                </a>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Editar"></span>
                </a>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Deletar"></span>
                </a>
              </td>
            </tr>
            <tr>
              <th>2</th>
              <td>Piranhas</td>
              <td>15,35</td>
              <td>11,34</td>
              <td>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
                </a>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Editar"></span>
                </a>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Deletar"></span>
                </a>
              </td>
            </tr>
            <tr>
              <th>3</th>
              <td>Mamanguape</td>
              <td>156,00</td>
              <td>11,34</td>
              <td>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
                </a>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Editar"></span>
                </a>
                <a href="#" class="btn btn-primary btn-sm" role="button">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Deletar"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>


      </div><!-- col-md-12 -->


        </div><!-- col-md-12 -->
    </div><!-- row -->

{% endblock content %}